{% extends 'base.html.twig' %}

{% block title %}Film - {{ movie.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('movie') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('movie') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="movie">
            <div class="row">
                <div class="col-12">
                    <h1 class="h1">{{ movie.getTitle() }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Année</th>
                            <th scope="col">Réalisateur</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Age limite</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Note / 10</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ movie.title }}</td>
                            <td>{{ movie.year }}</td>
                            <td>{{ movie.productor }}</td>
                            <td>{{ movie.genre }}</td>
                            <td>{{ movie.restriction }}</td>
                            <td>{{ movie.price }} €</td>
                            <td>{{ movie.rating }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('build/images/' ~ movie.getSlug() ~ '.jpg') }}" class="img-fluid" alt="{{ "IMG-MOVIE-" ~ movie.getID() }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
