{% extends 'base.html.twig' %}

{% block title %}Movie - {{ movie.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('movie') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('movie') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="movie">
            <div class="row">
                <div class="col-12">
                    <h1>{{ movie.getTitle() }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Année</th>
                            <th scope="col">Réalisateur</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Genre</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ movie.getReleasedAt()|date('Y') }}</td>
                            <td>{{ movie.getProductor() }}</td>
                            <td>{{ movie.getPrice() }} €</td>
                            <td>{{ movie.getSlug() }}</td>
                            <td><span class="badge text-bg-primary">{{ movie.getGenre().getTitle() }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('build/images/' ~ movie.getSlug() ~ '.jpg') }}" class="img-fluid" alt="{{ "IMG-MOVIE-" ~ movie.getID() }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
